<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<beans xmlns:hdp="http://www.springframework.org/schema/hadoop"-->
       <!--xmlns="http://www.springframework.org/schema/beans"-->
       <!--xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
       <!--xmlns:util="http://www.springframework.org/schema/util"-->
       <!--xsi:schemaLocation="http://www.springframework.org/schema/beans-->
       <!--http://www.springframework.org/schema/beans/spring-beans.xsd-->
       <!--http://www.springframework.org/schema/hadoop-->
       <!--http://www.springframework.org/schema/hadoop/spring-hadoop.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">-->

    <!--&lt;!&ndash;<hdp:configuration properties-ref="props" properties-location="cfg-1.properties, cfg-2.properties">&ndash;&gt;-->
        <!--&lt;!&ndash;star=chasing&ndash;&gt;-->
        <!--&lt;!&ndash;captain=eo&ndash;&gt;-->
    <!--&lt;!&ndash;</hdp:configuration>&ndash;&gt;-->

    <!--&lt;!&ndash;<util:properties id="props" location="hadoop.properties"/>&ndash;&gt;-->

<!--</beans>-->